###########################################################
###################### General Setup ######################
###########################################################

### Paths #################################################
INSIDE_HOSTNAME=localhost
OUTSIDE_HOSTNAME=x.x.x.x
INSIDE_PORT=9092
OUTSIDE_PORT=9094

###########################################################
################ Containers Customization #################
###########################################################

### KAFKA #################################################
KAFKA_LOGS=./logs/kafka-logs/