[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wurstmeister
[access "refs/for/refs/*"]
	read = group user/wurstmeister
	push = group user/wurstmeister
	label-Code-Review = -2..+2 group user/wurstmeister
	label-Verified = -1..+1 group user/wurstmeister
	rebase = group user/wurstmeister
	removeReviewer = group user/wurstmeister
	submit = group user/wurstmeister
[access "refs/heads/*"]
	read = group user/wurstmeister
	create = group user/wurstmeister
	push = +force group user/wurstmeister
	pushMerge = group user/wurstmeister
[access "refs/tags/*"]
	push = +force group user/wurstmeister
	pushTag = group user/wurstmeister
	pushSignedTag = group user/wurstmeister
